{% extends "base.html" %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="content" style="margin: 20px;">
    <h1>О нас</h1>
    <p>Мы находимся по адресу:</p>
    <p>Республика Дагестан, г. Каспийск, Советская 12</p>

    <p>Наш номер телефона:</p>
    <p>+79619022342</p>
    <script type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A327b3f4910270bef293a820d75a9cad1a255defd246d1d4565c11fd351258af5&amp;width=600&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
{% endblock %}
